<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.wishroll">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.reusables.VideoActivity"
            android:theme="@style/Fullscreen"> </activity>
        <activity android:name=".views.upload.UploadActivity" />
        <activity android:name=".views.reusables.Followers" />
        <activity android:name=".views.reusables.Following" />
        <activity android:name=".views.reusables.ImageActivity" />
        <activity android:name=".views.profile.ContactActivity" />
        <activity
            android:name=".views.home.SearchActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".views.profile.EditProfileActivity" />
        <activity android:name=".views.profile.ProfileViewActivity" />
        <activity
            android:name=".views.home.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".views.registration.SignupActivity" />
        <activity android:name=".views.registration.LoginActivity" />
        <activity
            android:name=".views.reusables.SplashScreen"
            android:theme="@style/splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.registration.WelcomeActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>